.header {

    background-image: url('Aboutback.jpg');
}



.box {
    width: 100%;
    height: auto;
    margin-top: 2px;
    background-image: url('Marble.jpg');

}

@media only screen and (max-width:320px) {
    .info2.mx-4.lh-base.text-start {

        font-size: 0.9em;
        display: flex;
        justify-content: space-between;
    }

}

@media (min-width:321px) and (max-width: 768px) {

    .info2.mx-4.lh-base.text-start {
        font-size: .9em;
        display: flex;
        justify-content: space-between;
    }

    .col-md-4 {
        width: 100%
    }

}

@media (min-width:769px) and (max-width:2560px) {
    .info2.mx-4.lh-base.text-start {
        font-size: 1.1em;
    }

    .text-decoration-underline.owner {
        font-size: 1.4em;
    }

    .col-md-4 {
        width: 100%
    }
}

/* .info {

    /* margin-left: 21px;
    font-size: medium; */
/* } */

/* .info1 {
    /* font-family: 'Anuphan', sans-serif; */
/* font-size: large;
    margin-left: 45px;
    margin-right: 183px; */
/* text-align: center; */

/* } */

/* .body {
    line-height: 1.5;

} */